node-httptransfer doesn't handle Content-Encoding correctly

It is observed that at:
https://github.com/adobe/node-httptransfer/blob/master/lib/stream.js#L37
the assertion pertains to `Content-Length` header value and actual bytes received. However, it doesn't seem to account for `Content-Encoding` header.

My reading of Section 3.1.2.2 of RFC 7231 [0] in conjunction with the definition of Content-Length in RFC 7230 [1] indicates that if a server applies a content-encoding on the HTTP response, then the content-length header specifies the encoded length of the payload.

Looking at the impl of `node-fetch-npm` [2] used in `adobe/node-httptransfer` (or `node-fetch` [3], the parent of the forked `node-fetch-npm`), the fetch lib handles the decoding of the bitstream in the http-response (should there be any). Thus, for the consumers of node-fetch, applying an equivalence of content-length header with that of bytes retrieved by the fetch request wouldn't be valid if the response has a content-encoding header specified as well.

I believe we have two options to address this:
* ignore the content-length header if the response contains a content-encoding header
* set `options.compress = false` while invoking `fetch` [4] (since node-httptransfer is primarily meant to transfer binaries which are very likely to be compressed already, this should be OK)

[0] (below snipped from https://tools.ietf.org/html/rfc7231#section-3.1.2.2, emphasis mine)
> the codings **listed in Content-Encoding are a characteristic of the representation**; the representation is defined in terms of the coded form, and all other metadata about the representation is about the coded form unless otherwise noted in the metadata definition. Typically, the representation is only decoded just prior to rendering or analogous usage.

[1] (below snipped from https://tools.ietf.org/html/rfc7230#section-3.3.2, emphasis mine)
> Content-Length header field can **provide the anticipated size, as a decimal number of octets, for a potential payload body.** For messages that do include a payload body, the **Content-Length field-value provides the framing information necessary for determining where the body (and message) ends**.

[2] https://github.com/npm/node-fetch-npm/blob/44be4772847c5c1ba03752626c302fd65768398d/src/index.js#L184
[3] https://github.com/node-fetch/node-fetch/blob/6ee9d3186f8b4bdc4288ccf92f0a776aa17644ae/src/index.js#L227
[4] https://github.com/npm/node-fetch-npm/blob/latest/README.md#options

### Reproduce Scenario (including but not limited to)
* any web-server that can send encoded content

#### Steps to Reproduce
execute the code below:
```
const fs = require('fs');
const { downloadStream } = require('@adobe/httptransfer');
(async function () {
    const stream = fs.createWriteStream('test.jpg');
    const url = 'https://github.githubassets.com/assets/diffs-021875bc.js'
    downloadStream(url, stream)
})();
```
the invocation will fail with:
```
Error: GET 'https://github.githubassets.com/assets/diffs-021875bc.js' stream 200 response failed: Unexpected stream-size. Received 52800 bytes, expected 12545 bytes
```

Alternatively, see attached a derivative of python3 `http.server` module attached at gzipped Python file ([gzipHttpServer.py.gz](https://github.com/adobe/node-httptransfer/files/5878401/gzipHttpServer.py.gz)). Place an image, say [googlelogo.png](https://user-images.githubusercontent.com/13196365/105957807-c1a7d380-609f-11eb-933c-f852082cf28d.png) in the same path as the gunzipped `.py` file, fire the script and request the image by changing the `url` above to http://localhost:8000/googlelogo.png.
The invocation will fail with:
```
Error: GET 'http://localhost:8000/googlelogo.png' stream 200 response failed: Unexpected stream-size. Received 7048 bytes, expected 7071 bytes
```
whereas a request to http://localhost:8000/googlelogo.png will work just fine.
(note that the "compressed" Content-Length is _larger_ than the actual bytes - which is very much possible for binary data such as images - if one were to invoke `compress -v googlelogo.png`, one would see `googlelogo.png: file would grow; left unmodified`, indicating that the deflate compression can actually increase the size of the asset as well)


#### Platform and Version
All Platforms
version: `@adobe/httptransfer-2.0.2`

#### Sample Code that illustrates the problem
See STR above

#### Logs taken while reproducing problem
See STR above.

### Expected Behaviour
The download should succeed by either
* supporting scenarios where Content-Encoding chosen by the server in response is one of those `@adobe/httptransfer` claims to accept (it currently sends `Accept-Encoding: gzip,deflate,br` in the request), or
* we shouldn't make any claims about accepting encoded content

### Actual Behaviour
The download fails even if `Content-Encoding` of the response is one of those `@adobe/httptransfer` claims to accept.

Fixed in https://github.com/adobe/node-httptransfer/pull/32